# Default ignored files
/shelf/
/.idea
/back/.gradle
/back/.idea
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/back/.idea/